<div class="row mx-0 mt-4">
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 row">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12"> 
            <div><span class="fw-bolder">For all queries ,call to Phone Number: <a href="tel:+919990741930" style="text-decoration: none;">(+91) 999-074-1930</a></span></div>
        </div>
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 row"> 
            <table class="table table-borderless">
                <tr>
                    <td><span class="fw-bolder">Email:</span></td>
                    <td><a href="mailto:info@skillsahead.net" style="text-decoration: none;"><i class="fa fa-envelope" style="color: rgb(156 115 65)"></i>&nbsp;{{contactEmail1}}</a> , <a href="mailto:mail2skillsahead@gmail.com" style="text-decoration: none;"><i class="fa fa-envelope" style="color: rgb(156 115 65);"></i>&nbsp;{{contactEmail2}}</a></td>
                </tr>
                <tr>
                    <td><span class="fw-bolder">Linked-in:</span></td>
                    <td><a href="https://in.linkedin.com/in/skillsahead">https://in.linkedin.com/in/skillsahead</a></td>
                </tr>\
                <tr>
                    <td><span class="fw-bolder">Facebook:</span></td>
                    <td><a href="https://www.facebook.com/pages/Skills-Ahead/756385977736923#">https://www.facebook.com/pages/Skills-Ahead/756385977736923#</a></td>
                </tr>
                <tr>
                    <td><span class="fw-bolder">Twitter:</span></td>
                    <td><a href="https://twitter.com/Skillsahead">https://twitter.com/Skillsahead</a></td>
                </tr>
            </table>
        </div>
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-4"> 
            <span class="fw-bolder">Address</span><br>
            <p>
                Delhi/NCR <br>
                Skills Ahead Consultancy Services Private Limited, <br>

                Okaya Business Centre ,
                1st Floor,Tower-4,Okaya Centre B-5,
                Yoga Nand Marg,Near IIM Lucknow campus,
                Sector 62, Noida,Uttar Pradesh-201309.
                (+91)-999-074-1930
                (+91)-120-66466711
            </p>
        </div>
    </div>
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <img src="assets/common/office-skills-shead.png">
    </div>
</div>