<div class="page-bottom-margin">
    <div style="background: #003366;padding: 10px;">
        <div style="display: flex;justify-content: center;">
            <img src="/assets/header/skills-ahead-logo.png" alt="Logo" class="d-inline-block align-text-top">
        </div>
    </div>
    <div class="row mx-0" [hidden]="showPanel!='HOME'">
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12" style="display: flex;justify-content: center;align-items: center; flex-direction: column;">
                <img src="/assets/qr-registration/man.png" alt="Logo" style="width: 400px;">
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12" style="display: flex;justify-content: center;align-items: center; flex-direction: column;">
                <div>
                    <span><h5>I will be your coach for 4 hours</h5></span><br>
                    <h3 class="mt-2" style="color: #5b841a; font-weight: bold;text-shadow: 2px 2px lightgrey;">John Smith</h3><br>
                    <span><h5>India's Best Soft Skills & Business Coach</h5></span><br>
                    <hr>
                    <span>Trained over 4,24,742 Business Owners in Last 10 Year</span>
                    <hr>
                </div>
                <div class="text-center">
                    <span>70,000+ People Rated My Programs with 4.96 Star</span><br>
                    <span style="color: gold;">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </span>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 text-center limelighter" style="display: flex;justify-content: center;align-items: center; flex-direction: column;">
                <div style="position: relative;display: flex;justify-content: center;align-items: center; flex-direction: column;">
                    <div style="background-color: #0198cf;color: white;padding: 10px;padding-inline: 30px;position: absolute;bottom: 80%;">
                        4 Hour Online Workshop <br> Starts On 14th July 2025 <br> (9:00 AM - 1:00 PM IST)
                    </div>
                    <div style="padding:3px;background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);">
                        <div style="background: white;padding:20px;padding-top:40px">
                            <div>Join and Become Like The Top 1% Successful <br> Business Owners & Entrepreneurs <br> Before its too late</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 background-box mt-1">
                    <div class="card-header" style="font-weight: bold;"><span style="font-size: 20px;">What Happens When You Join</span> <i class="fa-solid fa-question" style="color: #ff7e00; font-size: 32px;"></i></div>
                    <div class="card-body">
                        <ul style="list-style: none;">
                            <li><i class="fa fa-check-circle" style="color: #ff7e00;padding: 5px;"></i>You Unlock Secrets To Create Time & Wealth In Business</li>
                            <li><i class="fa fa-check-circle" style="color: #ff7e00;padding: 5px;"></i>You Learn Strong Foundational Activities To Win In Your Business</li>
                            <li><i class="fa fa-check-circle" style="color: #ff7e00;padding: 5px;"></i>Your Business Growth With Increased Revenue & Cashflow</li>
                            <li><i class="fa fa-check-circle" style="color: #ff7e00;padding: 5px;"></i>More Profit, More Freedom, More Scale Is Guaranteed If You Follow The Exact Steps Covered In The Workshop</li>
                        </ul>
                    </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-12 col-xs-12 mt-1">
                <div style="height: 100%;display: flex;flex-direction: column;justify-content: center;align-items: center;">
                    <div style="font-size: 24px;color: #07a077;font-weight: bold;">Starts On 20th July 2025</div>
                    <div style="font-size: 24px;color: #07a077;font-weight: bold;">(9:00 AM - 1:00 PM IST)</div>
                    <div style="font-size: 24px;">Language - Basic English​</div>
                </div>
            </div>
            <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-4 col-sm-12 col-xs-12 fixed-header">
                <button class="btn btn-lg button-glow text-white" style="float:right !important" (click)="changePanel('REGISTRATION')">BOOK YOUR SPOT NOW AT INR 99/-</button>
            </div>
    </div>

    <!--registration form-->
    <div class="row mx-0" [hidden]="showPanel!='REGISTRATION'">
        <div>
            <mat-stepper [linear]="isLinear" #stepper>
                <mat-step>
                <form >
                    <ng-template matStepLabel>Basic Info</ng-template>
                    <div class="row mx-0" style="height: 60vh;">
                        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                            <h3>{{qrData.courseTitle}} in just &nbsp;<span class="text-success fw-bold"><i class="fa fa-inr"></i>&nbsp;{{qrData.courseFee}} !</span></h3>
                        </div>
                        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="mb-2">
                                <input type="text" class="form-control" placeholder="Name" name="name" [(ngModel)]="userData.name">
                            </div>
                        </div>
                        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <span class="desc text-wrap">(*Enrollment details will be sent on this email)</span>
                            <div class="mb-2">
                                <input type="email" class="form-control" placeholder="Email" name="email" [(ngModel)]="userData.email">
                            </div>
                        </div>
                        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <span class="desc text-wrap">(*Enrollment details will be sent on this whatsapp number)</span>
                            <div class="mb-2">
                                <input type="mobile" class="form-control" placeholder="Whatsapp number" name="mobile" [maxlength]="10" [(ngModel)]="userData.mobile">
                            </div>
                        </div>
                        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="mb-2">
                                <input type="text" class="form-control" placeholder="Location" name="location" [(ngModel)]="userData.location">
                            </div>
                        </div>
                        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row mx-0">
                                @if (isMobileDevice) {
                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 p-0">
                                        <span class="input-group-text">Your Occupation</span>
                                    </div>
                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 occupation-option-border-mobile">
                                        <div class="d-flex flex-row">
                                                <div class="d-flex flex-column">
                                                    <div class="form-check justify-content-start">
                                                        <input class="form-check-input" type="radio" name="occupation" id="studentRadio">
                                                        <label class="form-check-label" for="studentRadio">Student</label>
                                                    </div>
                                                    <div class="form-check justify-content-start">
                                                        <input class="form-check-input" type="radio" name="occupation" id="jobSeekerRadio">
                                                        <label class="form-check-label" for="jobSeekerRadio">Job Seeker</label>
                                                    </div>
                                                </div>
                                                <div class="d-flex flex-column ms-2">
                                                    <div class="form-check justify-content-start">
                                                        <input class="form-check-input" type="radio" name="occupation" id="workingProfessionalRadio">
                                                        <label class="form-check-label" for="workingProfessionalRadio">Working Professional</label>
                                                    </div>
                                                    <div class="form-check justify-content-start">
                                                        <input class="form-check-input" type="radio" name="occupation" id="otherRadio">
                                                        <label class="form-check-label" for="otherRadio">Other</label>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                }
                                @else{
                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 p-0">
                                        <span class="input-group-text occupation-label-border">Occupation</span>
                                    </div>
                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 occupation-option-border">
                                        <div class="d-flex flex-row">
                                            <div class="d-flex flex-column">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="occupation" id="studentRadio"  [(ngModel)]="userData.occupation" value="STUDENT">
                                                    <label class="form-check-label" for="studentRadio">Student</label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="occupation" id="jobSeekerRadio" [(ngModel)]="userData.occupation" value="JOB_SEEKER">
                                                    <label class="form-check-label" for="jobSeekerRadio">Job Seeker</label>
                                                </div>
                                            </div>
                                            <div class="d-flex flex-column ms-3">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="occupation" id="workingProfessionalRadio" [(ngModel)]="userData.occupation" value="WORKING_PROFESSIONAL">
                                                    <label class="form-check-label" for="workingProfessionalRadio">Working Professional</label>
                                                </div>
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" name="occupation" id="otherRadio" [(ngModel)]="userData.occupation" value="OTHER">
                                                    <label class="form-check-label" for="otherRadio">Other</label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <!-- <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2 text-center">
                            <button class="btn btn-primary" style="width: 30%;">Submit</button>
                            <button class="pull-right" mat-raised-button>Next</button>
                        </div> -->
                    </div>
                    <div>
                    <!-- <button mat-button matStepperNext>Next</button> -->
                    <button class="pull-right" mat-raised-button matStepperNext>Next</button>
                    </div>
                </form>
                </mat-step>
                <!-- <mat-step>
                <form>
                    <ng-template matStepLabel>Pick Schedule</ng-template>
                    <div class="row">
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                            <div class="d-flex flex-row justify-content-around align-items-center">
                                <mat-card class="inline-calendar-card">
                                    <mat-calendar [(selected)]="calenderDate"></mat-calendar>
                                </mat-card>
                            </div>
                        </div>
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 d-flex flex-row justify-content-around align-items-center">
                            <div>
                                <span [ngxTimepicker]="picker" [value]="selectedTime">
                                    <app-clock></app-clock>
                                </span>
                                <ngx-material-timepicker #picker (timeSet)="onTimeSelected($event)"></ngx-material-timepicker>
                            </div>
                        </div>
                        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 d-flex flex-row justify-content-around align-items-center">
                            <div class="text-center">
                                <h3>Your preferred schedule is</h3>
                                <h5>on&nbsp;<span style="color: #0a79da;">{{selectedDate}}</span></h5>
                                <h5>at&nbsp;<span style="color: #0a79da;">{{timeForClock.hours<10?'0'+timeForClock.hours:timeForClock.hours}}:{{timeForClock.minutes<10?'0'+timeForClock.minutes:timeForClock.minutes}}&nbsp;{{timeForClock.meridian}}</span></h5>
                            </div>
                        </div>
                    </div>
                      
                    <div class="mt-2">
                    <button class="pull-left" mat-raised-button matStepperPrevious>Back</button>
                    <button class="pull-right" mat-raised-button matStepperNext>Next</button>
                    </div>
                </form>
                </mat-step> -->
                <mat-step>
                <ng-template matStepLabel>Review & Submit</ng-template>
                @if (isMobileDevice) {
                    <div style="height: 60vh;">
                        <table>
                            <tbody>
                                <tr><td>Program Name</td></tr>
                                <tr><td><span style="color:#0a79da">{{qrData.courseTitle}}</span></td></tr>
                                <tr><td>Program Cost</td></tr>
                                <tr><td><span style="color:#0a79da"><i class="fa fa-inr"></i>&nbsp;{{qrData.courseFee}} </span></td></tr>
                                <tr><td>Program Duration</td></tr>
                                <tr><td><span style="color: #0a79da;">{{qrData.courseDurationInHrs * 60}} minutes</span></td></tr>
                                <tr><td><span>Your Preferred Schedule For Program</span></td></tr>
                                <tr><td><span style="color: #0a79da;">{{selectedDate}}&nbsp;</span>
                                    <span style="color: #0a79da;">{{timeForClock.hours<10?'0'+timeForClock.hours:timeForClock.hours}}:{{timeForClock.minutes<10?'0'+timeForClock.minutes:timeForClock.minutes}}&nbsp;{{timeForClock.meridian}}</span></td></tr>
                            </tbody>
                        </table>
                    </div>
                }
                @else{
                    <div class="d-flex flex-row justify-content-center" style="height: 60vh;">
                        <div></div>
                        <div class="d-flex flex-column">
                            <div><h5><span>Program Name : </span><span style="color:#0a79da">{{qrData.courseTitle}}</span></h5></div>
                            <div><h5><span>Program Cost : </span><span style="color:#0a79da"><i class="fa fa-inr"></i>&nbsp;{{qrData.courseFee}} </span></h5></div>
                            <div><h5><span>Program Duration : </span><span style="color:#0a79da">{{qrData.courseDurationInHrs * 60}} minutes</span></h5></div>
                            <div><h5>
                                <span>Your Preferred Schedule For Program : </span>
                                <span style="color: #0a79da;">{{selectedDate}}&nbsp;</span>
                                <span style="color: #0a79da;">{{timeForClock.hours<10?'0'+timeForClock.hours:timeForClock.hours}}:{{timeForClock.minutes<10?'0'+timeForClock.minutes:timeForClock.minutes}}&nbsp;{{timeForClock.meridian}}</span>
                            </h5></div>
                            <div class="text-center">
                                <h6 style="font-style: italic;color:#075f32">(Click on submit button to confirm your seat)</h6>
                            </div>
                        </div>
                        <div></div>
                    </div>
                }
                <div>
                    <!-- <button mat-button matStepperPrevious>Back</button>
                    <button mat-button (click)="stepper.reset()">Reset</button> -->
                    <button class="pull-left" mat-raised-button matStepperPrevious>Back</button>
                    <!-- <button class="pull-right" mat-raised-button (click)="stepper.reset()">Submit</button> -->
                    <button class="pull-right" mat-raised-button (click)="initiatePayment()">Proceed to Pay</button>
                </div>
                </mat-step>
            </mat-stepper>
        </div>
    </div>
</div>


<div class="container mt-2" hidden>
    <mat-stepper [linear]="isLinear" #stepper>
        <mat-step>
        <form >
            <ng-template matStepLabel>Basic Info</ng-template>
            <div class="row mx-0">
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                    <h3>{{qrData.courseTitle}} in just &nbsp;<span class="text-success fw-bold"><i class="fa fa-inr"></i>&nbsp;{{qrData.courseFee}} !</span></h3>
                </div>
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="mb-2">
                        <input type="text" class="form-control" placeholder="Name" name="name" [(ngModel)]="userData.name">
                    </div>
                </div>
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <span class="desc text-wrap">(*Enrollment details will be sent on this email)</span>
                    <div class="mb-2">
                        <input type="email" class="form-control" placeholder="Email" name="email" [(ngModel)]="userData.email">
                    </div>
                </div>
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <span class="desc text-wrap">(*Enrollment details will be sent on this whatsapp number)</span>
                    <div class="mb-2">
                        <input type="mobile" class="form-control" placeholder="Whatsapp number" name="mobile" [maxlength]="10" [(ngModel)]="userData.mobile">
                    </div>
                </div>
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="mb-2">
                        <input type="text" class="form-control" placeholder="Location" name="location" [(ngModel)]="userData.location">
                    </div>
                </div>
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="row mx-0">
                        @if (isMobileDevice) {
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 p-0">
                                <span class="input-group-text">Your Occupation</span>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 occupation-option-border-mobile">
                                <div class="d-flex flex-row">
                                        <div class="d-flex flex-column">
                                            <div class="form-check justify-content-start">
                                                <input class="form-check-input" type="radio" name="occupation" id="studentRadio">
                                                <label class="form-check-label" for="studentRadio">Student</label>
                                            </div>
                                            <div class="form-check justify-content-start">
                                                <input class="form-check-input" type="radio" name="occupation" id="jobSeekerRadio">
                                                <label class="form-check-label" for="jobSeekerRadio">Job Seeker</label>
                                            </div>
                                        </div>
                                        <div class="d-flex flex-column ms-2">
                                            <div class="form-check justify-content-start">
                                                <input class="form-check-input" type="radio" name="occupation" id="workingProfessionalRadio">
                                                <label class="form-check-label" for="workingProfessionalRadio">Working Professional</label>
                                            </div>
                                            <div class="form-check justify-content-start">
                                                <input class="form-check-input" type="radio" name="occupation" id="otherRadio">
                                                <label class="form-check-label" for="otherRadio">Other</label>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        }
                        @else{
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 p-0">
                                <span class="input-group-text occupation-label-border">Occupation</span>
                            </div>
                            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-xs-6 occupation-option-border">
                                <div class="d-flex flex-row">
                                    <div class="d-flex flex-column">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="occupation" id="studentRadio"  [(ngModel)]="userData.occupation" value="STUDENT">
                                            <label class="form-check-label" for="studentRadio">Student</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="occupation" id="jobSeekerRadio" [(ngModel)]="userData.occupation" value="JOB_SEEKER">
                                            <label class="form-check-label" for="jobSeekerRadio">Job Seeker</label>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-column ms-3">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="occupation" id="workingProfessionalRadio" [(ngModel)]="userData.occupation" value="WORKING_PROFESSIONAL">
                                            <label class="form-check-label" for="workingProfessionalRadio">Working Professional</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="occupation" id="otherRadio" [(ngModel)]="userData.occupation" value="OTHER">
                                            <label class="form-check-label" for="otherRadio">Other</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <!-- <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12 mt-2 text-center">
                    <button class="btn btn-primary" style="width: 30%;">Submit</button>
                    <button class="pull-right" mat-raised-button>Next</button>
                </div> -->
            </div>
            <div>
            <!-- <button mat-button matStepperNext>Next</button> -->
            <button class="pull-right" mat-raised-button matStepperNext>Next</button>
            </div>
        </form>
        </mat-step>
        <!-- <mat-step>
        <form>
            <ng-template matStepLabel>Pick Schedule</ng-template>
            <div class="row">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12">
                    <div class="d-flex flex-row justify-content-around align-items-center">
                        <mat-card class="inline-calendar-card">
                            <mat-calendar [(selected)]="calenderDate"></mat-calendar>
                        </mat-card>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 d-flex flex-row justify-content-around align-items-center">
                    <div>
                        <span [ngxTimepicker]="picker" [value]="selectedTime">
                            <app-clock></app-clock>
                        </span>
                        <ngx-material-timepicker #picker (timeSet)="onTimeSelected($event)"></ngx-material-timepicker>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 d-flex flex-row justify-content-around align-items-center">
                    <div class="text-center">
                        <h3>Your preferred schedule is</h3>
                        <h5>on&nbsp;<span style="color: #0a79da;">{{selectedDate}}</span></h5>
                        <h5>at&nbsp;<span style="color: #0a79da;">{{timeForClock.hours<10?'0'+timeForClock.hours:timeForClock.hours}}:{{timeForClock.minutes<10?'0'+timeForClock.minutes:timeForClock.minutes}}&nbsp;{{timeForClock.meridian}}</span></h5>
                    </div>
                </div>
            </div>
              
            <div class="mt-2">
            <button class="pull-left" mat-raised-button matStepperPrevious>Back</button>
            <button class="pull-right" mat-raised-button matStepperNext>Next</button>
            </div>
        </form>
        </mat-step> -->
        <mat-step>
        <ng-template matStepLabel>Review & Submit</ng-template>
        @if (isMobileDevice) {
            <div>
                <table>
                    <tbody>
                        <tr><td>Program Name</td></tr>
                        <tr><td><span style="color:#0a79da">{{qrData.courseTitle}}</span></td></tr>
                        <tr><td>Program Cost</td></tr>
                        <tr><td><span style="color:#0a79da"><i class="fa fa-inr"></i>&nbsp;{{qrData.courseFee}} </span></td></tr>
                        <tr><td>Program Duration</td></tr>
                        <tr><td><span style="color: #0a79da;">{{qrData.courseDurationInHrs * 60}} minutes</span></td></tr>
                        <tr><td><span>Your Preferred Schedule For Program</span></td></tr>
                        <tr><td><span style="color: #0a79da;">{{selectedDate}}&nbsp;</span>
                            <span style="color: #0a79da;">{{timeForClock.hours<10?'0'+timeForClock.hours:timeForClock.hours}}:{{timeForClock.minutes<10?'0'+timeForClock.minutes:timeForClock.minutes}}&nbsp;{{timeForClock.meridian}}</span></td></tr>
                    </tbody>
                </table>
            </div>
        }
        @else{
            <div class="d-flex flex-row justify-content-center">
                <div></div>
                <div class="d-flex flex-column">
                    <div><h5><span>Program Name : </span><span style="color:#0a79da">{{qrData.courseTitle}}</span></h5></div>
                    <div><h5><span>Program Cost : </span><span style="color:#0a79da"><i class="fa fa-inr"></i>&nbsp;{{qrData.courseFee}} </span></h5></div>
                    <div><h5><span>Program Duration : </span><span style="color:#0a79da">{{qrData.courseDurationInHrs * 60}} minutes</span></h5></div>
                    <div><h5>
                        <span>Your Preferred Schedule For Program : </span>
                        <span style="color: #0a79da;">{{selectedDate}}&nbsp;</span>
                        <span style="color: #0a79da;">{{timeForClock.hours<10?'0'+timeForClock.hours:timeForClock.hours}}:{{timeForClock.minutes<10?'0'+timeForClock.minutes:timeForClock.minutes}}&nbsp;{{timeForClock.meridian}}</span>
                    </h5></div>
                    <div class="text-center">
                        <h6 style="font-style: italic;color:#075f32">(Click on submit button to confirm your seat)</h6>
                    </div>
                </div>
                <div></div>
            </div>
        }
        <div>
            <!-- <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button> -->
            <button class="pull-left" mat-raised-button matStepperPrevious>Back</button>
            <!-- <button class="pull-right" mat-raised-button (click)="stepper.reset()">Submit</button> -->
            <button class="pull-right" mat-raised-button (click)="initiatePayment()">Proceed to Pay</button>
        </div>
        </mat-step>
    </mat-stepper>
</div>
  
