<div class="row mx-0 bg-dark">
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-sm-12 col-12 p-2">
        <div class="card bg-dark text-white rounded-0 mt-2">
            <div class="card-header">
                <span>Corporate Office</span>
            </div>
            <div class="card-body" style="height: 30vh;">
                <span>
                    <p>
                        <span><i class="fa fa-map-marker" style="color: indianred;"></i></span>&nbsp;&nbsp;India (Delhi/NCR)
                    </p>
                    <p>
                        Okaya Business Centre,
                        1st Floor,Tower-4,Okaya Centre B-5,
                        Yoga Nand Marg,Near IIM Lucknow campus,
                        Sector 62, Noida,Uttar Pradesh-201309.
                    </p>
                    <p>
                        <span><i class="fa fa-phone"></i></span>&nbsp;&nbsp;(+91)-999-074-1930&nbsp;&nbsp;|&nbsp;&nbsp;(+91)-120-66466711
                    </p>
                    <p>
                        <span><i class="fa fa-envelope"></i></span>&nbsp;&nbsp; info&#64;skillsahead.com
                    </p>
                </span>
            </div>
        </div>
    </div>
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-sm-12 col-12 p-2">
        <div class="card bg-dark text-white rounded-0 mt-2">
            <div class="card-header">
                <span>Quick Links</span>
            </div>
            <div class="card-body" style="height: 30vh;">
                <div class="row">
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-sm-12 col-12">
                        <div>
                            <ul style="list-style-type:none" class="ps-0">
                                <li>
                                    Blog
                                </li>
                                <li>
                                    About Us
                                </li>
                                <li>
                                    Contact Us
                                </li>
                                <li>
                                    Career
                                </li>
                            </ul>
                        </div>
                        <div>
                            <ul style="list-style-type:none" class="ps-0">
                                <li style="float: left;" class="p-2">
                                    <span><i class="fa fa-youtube-play"></i></span>
                                </li>
                                <li style="float: left;" class="p-2">
                                    <span><i class="fa fa-instagram"></i></span>
                                </li>
                                <li style="float: left;" class="p-2">
                                    <span><i class="fa fa-facebook"></i></span>
                                </li>
                                <li style="float: left;" class="p-2">
                                    <span><i class="fa fa-linkedin"></i></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-sm-12 col-12">
                        <button class="btn" style="background-color: goldenrod;border: 1px solid goldenrod;font-family: 'Open Sans';">
                            <i class="fa fa-file-pdf-o"></i>&nbsp;Download Brochure</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mx-0 text-white" style="background-color: #4F0E5F;">
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-sm-6 col-6 my-2 text-end" style="border-right: 1px solid yellow;">
        <span>Our Footprint</span>
    </div>
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-sm-6 col-6 my-2 text-start">
        <span>USA | UAE | Dubai | Spain | India</span>
    </div>
</div>
<div class="row mx-0 bg-dark text-white text-center">
    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-sm-12 col-12 mt-2">
        <span><i class="fa fa-copyright"></i> &nbsp;Copyright 2024 Skills Ahead Consultancy - All Rights Reserved | Privacy Policy</span>
    </div>
</div>