<app-header></app-header>
<div style="height: 100vh;">
    <div class="row mx-0">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-sm-12 col-12">
            <div class="card rounded-0">
                <div class="card-header">Enquire Now</div>
                <div class="card-body">
                    <form>
                        <input type="text">
                    </form>
                </div>
                <div class="card-footer">
        
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mt-5">
    <app-footer></app-footer>
</div>