<nav class="navbar bg-dark border-bottom border-body navbar-expand-lg" data-bs-theme="dark" style="border-bottom-left-radius: 50px;border-bottom-right-radius: 50px;">
    <div class="container-fluid">
      <a class="navbar-brand px-3 py-2" href="#">
        <img src="/assets/header/skills-ahead-logo.png" alt="Logo" class="d-inline-block align-text-top">
      </a>
      <ul class="navbar-nav justify-content-end align-items-center">
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Contact Us</a>
        </li>
        <li class="nav-item" (click)="navigateTo('ENQUIRE_NOW')">
            <a class="nav-link">
              <button class="btn button-glow" style="width: 80px;height: 80px;border-radius: 50%;">Enquire Now</button>
            </a>
        </li>
    </ul>
    </div>
  </nav>

<div class="row" style="background:linear-gradient(to bottom, rgba(255,255,255,0.1) 0%,rgba(255,255,255,0) 100%);">

</div>
