<app-header></app-header>
<app-banner-slider></app-banner-slider>
<div style="background-color: #EEDC82;" class="p-2">
  <div class="row text-center mx-0">
    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-sm-12 col-12">
      <span style="font-family: fantasy;font-size: x-large;">
        Track Record - Skills Ahead Consultancy Pvt. Ltd. Global
      </span>  
    </div>
  </div>
  <div class="row mx-0 d-flex justify-content-center mt-3">
    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-6 col-sm-6 col-6"><app-hoverball [inputTextLine1]="'9+ Years of'" [inputTextLine2]="'Marketing'" [inputTextLine3]="'Leadership'"></app-hoverball> </div>
    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-6 col-sm-6 col-6"><app-hoverball [inputTextLine1]="'20+'" [inputTextLine2]="'Industries'" [inputTextLine3]="'Served'"></app-hoverball> </div>
    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-6 col-sm-6 col-6"><app-hoverball [inputTextLine1]="'100+'" [inputTextLine2]="'Corporate'" [inputTextLine3]="'Clients'"></app-hoverball> </div>
    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-6 col-sm-6 col-6"><app-hoverball [inputTextLine1]="'15000+'" [inputTextLine2]="'Professionals'" [inputTextLine3]="'Trained'"></app-hoverball> </div>
    <div class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-6 col-sm-6 col-6"><app-hoverball [inputTextLine1]="'$100M+'" [inputTextLine2]="'Business'" [inputTextLine3]="'Consulting'"></app-hoverball> </div>
  </div>
</div>
<div class="mt-5">
  <app-footer></app-footer>
</div>
