@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

input {
  caret-color: red;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #ecf0f3;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  overflow: hidden;
  font-family: sans-serif !important;
}

.container {
  position: relative;
  width: 400px;
  // width: 350px;
//   height: 500px;
  border-radius: 20px;
  padding: 10px;
  box-sizing: border-box;
  //background: #ecf0f3;
  background: #f3f5f7;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

.brand-logo {
  height: 100px;
  width: 100px;
  background: url("https://img.icons8.com/color/100/000000/twitter--v2.png");
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
}

.brand-title {
  margin-top: 10px;
  font-weight: bold;
  font-size: 1.8rem;
  color: #005baa !important;
  letter-spacing: 1px;
  text-align: center;
}

.inputs {
  text-align: left;
  margin-top: 5px;
}

label, input, button, textarea {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

label {
  margin-bottom: 4px;
}

label:nth-of-type(2) {
  margin-top: 12px;
}

input::placeholder , textarea::placeholder{
  color: gray;
}

input, textarea{
  margin-top: 5px;
  margin-bottom: 5px; 
  //background: #ecf0f3;
  background: #f3f5f7;
  padding: 10px;
  padding-left: 20px;
//   height: 50px;
  font-size: 14px;
  border-radius: 20px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

////
button {
  width: 50%;
  background: #1DA1F2;
  border: 1px solid #1DA1F2;
  border-radius: 20px;
  box-shadow: inset 0 1px 0 #1DA1F2;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  outline: 0;
  padding: 10px 35px;
  text-decoration: none;
  text-shadow: 0 -1px 0 #1DA1F2;
  background: linear-gradient(to bottom, #1DA1F2 0%, #236b98 100%);
  transition: padding 50ms ease-in-out, border-top-width 50ms ease-in-out, box-shadow 150ms ease-in-out;
}
button:hover {
  background: #1DA1F2;
  background: linear-gradient(to bottom, #1DA1F2 0%, #236b98 100%);
  box-shadow: inset 0 1px 0 #1DA1F2, 0 0 10px rgba(0, 0, 0, 0.4);
}
button:active {
  border-top-width: 2px;
  box-shadow: none;
  padding-bottom: 8px;
}

/// /
/*button {
  color: white;
  margin-top: 20px;
  background: #1DA1F2;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
}

button:hover {
  box-shadow: none;
}*/

a {
  position: absolute;
  font-size: 8px;
  bottom: 4px;
  right: 4px;
  text-decoration: none;
  color: black;
  background: yellow;
  border-radius: 10px;
  padding: 2px;
}

h1 {
  position: absolute;
  top: 0;
  left: 0;
}