<!--intro part-->
<main>
  <div class="row mx-0">
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div>
          <!-- <span>discover</span> -->
          <h1>Corporate Soft Skills Training</h1>
          <hr>
          <p>India's Most Efficient Training & Consultancy Firm.</p>
          <p>An ISO 9001:2015 certified company.</p>
          <p>Call us at +91-9990741930</p>
          <!-- <a href="https://skillsahead.online/">Watch Demo</a> -->
        </div>
        <div class="input-group">
          <span class="input-group-text"><i class="fa fa-search"></i></span>
          <input type="text" class="form-control" placeholder="Search for courses">
        </div>
      </div>
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12 mt-4 d-flex justify-content-end"> 
        <app-query></app-query>
      </div>
  </div>
</main>

<!--popular courses-->
<main>
  <div class="row">
    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h3 class="p-3">
        <span class="fw-bolder" style="font-size: 22px;">Popular Courses</span>
        <button class="btn btn-primary pull-right">Browse Courses</button>
      </h3>
    </div>
    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="flex-grid">
        <div class="grid-item card-container">
            <div class="card-3d">
              <div class="card-content">
                <h1 style="color: #11688a !important;"><i class="fa-solid fa-chart-line"></i></h1>
                <p>Leadership Training</p>
              </div>
            </div>
        </div>
        <div class="grid-item card-container">
            <div class="card-3d">
              <div class="card-content">
                <h1><i class="fa-solid fa-people-group"></i></h1>
                <p>Teamwork & Collaboration</p>
              </div>
            </div>
        </div>
        <div class="grid-item card-container">
            <div class="card-3d">
              <div class="card-content">
                <h1><i class="fa-regular fa-face-smile"></i></h1>
                <p>Emotional Intelligence</p>
              </div>
            </div>
        </div>
        <div class="grid-item card-container">
            <div class="card-3d">
              <div class="card-content">
                <h1><i class="fa-solid fa-user-tie"></i></h1>
                <p>Public Speaking</p>
              </div>
            </div>
        </div>
        <div class="grid-item card-container">
            <div class="card-3d">
              <div class="card-content">
                <h1><i class="fa-solid fa-chart-line"></i></h1>
                <p>Leadership Training</p>
              </div>
            </div>
        </div>
        <div class="grid-item card-container">
            <div class="card-3d">
              <div class="card-content">
                <h1><i class="fa-solid fa-chart-line"></i></h1>
                <p>Leadership Training</p>
              </div>
            </div>
        </div>
        <div class="grid-item card-container">
            <div class="card-3d">
              <div class="card-content">
                <h1><i class="fa-solid fa-chart-line"></i></h1>
                <p>Leadership Training</p>
              </div>
            </div>
        </div>
        <div class="grid-item card-container">
            <div class="card-3d">
              <div class="card-content">
                <h1><i class="fa-solid fa-chart-line"></i></h1>
                <p>Leadership Training</p>
              </div>
            </div>
        </div>
      </div>

    </div>
  </div>
</main>

<!--clients list-->
<main>
  <div class="row mt-2">
    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <h3 class="p-3">
        Trustes By Learners Worldwide
      </h3>
    </div>
    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="row mx-0 center-align-content">
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <img class="img-responsive img-fluid" src="assets/clients/ibm.png" alt="client logo">
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <img class="img-responsive img-fluid" src="assets/clients/jk-paper.png" alt="client logo">
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <img class="img-responsive img-fluid" src="assets/clients/wipro.png" alt="client logo">
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <img class="img-responsive img-fluid" src="assets/clients/iit-guwahati.png" alt="client logo">
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <img class="img-responsive img-fluid" src="assets/clients/kritical.png" alt="client logo">
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <img class="img-responsive img-fluid" src="assets/clients/nsdc.png" alt="client logo">
        </div>
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <img class="img-responsive img-fluid" src="assets/clients/vehant.png" alt="client logo">
        </div>      
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <img class="img-responsive img-fluid" src="assets/clients/appinventive.png" alt="client logo">
        </div> 
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <img class="img-responsive img-fluid" src="assets/clients/envinove.png" alt="client logo">
        </div> 
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <img class="img-responsive img-fluid" src="assets/clients/lucent.png" alt="client logo">
        </div> 
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <img class="img-responsive img-fluid" src="assets/clients/freescale.png" alt="client logo">
        </div> 
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <img class="img-responsive img-fluid" src="assets/clients/jica.png" alt="client logo">
        </div>   
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <img class="img-responsive img-fluid" src="assets/clients/tata.png" alt="client logo">
        </div>  
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <img class="img-responsive img-fluid" src="assets/clients/sap.png" alt="client logo">
        </div>    
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <img class="img-responsive img-fluid" src="assets/clients/hero.png" alt="client logo">
        </div>       
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <img class="img-responsive img-fluid" src="assets/clients/iim-bangalore.png" alt="client logo">
        </div>   
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <img class="img-responsive img-fluid" src="assets/clients/iim-lucknow.png" alt="client logo">
        </div>   
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <img class="img-responsive img-fluid" src="assets/clients/iim-ahemdabad.png" alt="client logo">
        </div>   
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <img class="img-responsive img-fluid" src="assets/clients/dell.png" alt="client logo">
        </div>   
        <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3 col-xs-3">
            <img class="img-responsive img-fluid" src="assets/clients/ajastra-media.jpg" alt="client logo">
        </div>   
      </div>
    </div>
    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">

    </div>
  </div>
</main>

<!--review list-->
<main>
  <div id="carouselExampleIndicators" class="carousel slide mt-5" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active p-5">
      <h3>Campus to corporate - IIT Guwahati, India</h3><br>
      <p><span><i class="fa-solid fa-quote-left fa-2x"></i></span>The C2C training was amazing, the whole day we enjoyed a lot with the fun of serious learning. It was well-structured and deep. From, the B.tech first year to the Ph.D. final all students from various disciplines have participated in this campus corporate training with extremely average expectations which ended up surprisingly in most motivating training we ever experienced in IIT.</p><br>
      <span class="pull-right">Student Welfare Committee, IIT</span><br>
      <span class="pull-right">IIT , Guwahati , India</span><br>
      <span class="pull-right" style="color: gold;">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-regular fa-star"></i>
      </span>
    </div>
    <div class="carousel-item p-5">
      <h3>Corporate Leadership Training</h3><br>
      <p><span><i class="fa-solid fa-quote-left fa-2x"></i></span>We have invited Skills Ahead to deliver the Corporate leadership training program for our organization’s top brass. It was an excellent learning experience with Skills Ahead Leadership SME. The full-day leadership training was highly engaging, strategically designed, and energetically delivered. We are highly impressed.</p><br>
      <span class="pull-right">Supriya Nath, HR, L&D</span><br>
      <span class="pull-right">SpeckyFox Technologies India Pvt Ltd, India</span><br>
      <span class="pull-right" style="color: gold;">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </span>
    </div>
    <div class="carousel-item p-5">
      <h3>Business Skills Development Program</h3><br>
      <p><span><i class="fa-solid fa-quote-left fa-2x"></i></span>It was an extensive 13 days of an in-depth training program on business management for JICA employees. 13 Modules of crucial business aspects including business communication, business writing, professionalism, Etiquette, Business intelligence, critical thinking, etc. have been delivered by Skills Ahead consultancy in a well-connected manner. Highly recommend this business skills development program to repeat for new batches. Thanks, team Skills Ahead.</p><br>
      <span class="pull-right">Taguchi, Yusuke[田口 裕介] , HRD </span><br>
      <span class="pull-right">Japan International Cooperation Agency (JICA)</span><br>
      <span class="pull-right" style="color: gold;">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </span>
    </div>
    <div class="carousel-item p-5">
      <h3>Soft Skills Training</h3><br>
      <p><span><i class="fa-solid fa-quote-left fa-2x"></i></span>Vehant Technologies was looking for a Soft Skills Training partner and came across Skills Ahead on a Google search. After the first meeting with Skills Ahead, there was no lookback. Highly committed team with exceptional expertise. We Conducted many back-to-back trainings with Skills Ahead. All have been unique and the results are highly appreciable.</p><br>
      <span class="pull-right">Myria, HRD, Vehant</span><br>
      <span class="pull-right">Vehant Technologies, India</span><br>
      <span class="pull-right" style="color: gold;">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </span>
    </div>
    <div class="carousel-item p-5">
      <h3>Corporate Training – Soft Skills</h3><br>
      <p><span><i class="fa-solid fa-quote-left fa-2x"></i></span>Who says corporate training is boring? it’s so much enjoyment with so much of deep learning. Mind-boggling. Yes, it was.  Highly recommended. Thanks to the Trainer from Skills ahead consultancy services. Great experience.</p><br>
      <span class="pull-right">Sudipta Mukherjee - Director & V.P (S&M)</span><br>
      <span class="pull-right">Vehant Technologies , Noida , India</span><br>
      <span class="pull-right" style="color: gold;">
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
        <i class="fa-solid fa-star"></i>
      </span>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</main>

<!--image slider part-->
<main>
  <div class="row">
    <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide swiper-slide--one">
            <div>
              <!-- <h2>Jellyfish</h2>
              <p>Jellyfish and sea jellies are the informal common names given to the medusa-phase of certain gelatinous members of the subphylum Medusozoa, a major part of the phylum Cnidaria.</p> -->
              <a href="https://en.wikipedia.org/wiki/Jellyfish" target="_blank">explore</a>
            </div>
          </div>
          <div class="swiper-slide swiper-slide--two">
            <div>
              <!-- <h2>Seahorse</h2>
              <p>
                Seahorses are mainly found in shallow tropical and temperate salt water throughout the world. They live in sheltered areas such as seagrass beds, estuaries, coral reefs, and mangroves. Four species are found in Pacific waters from North America to South America.
              </p> -->
              <a href="https://en.wikipedia.org/wiki/Seahorse" target="_blank">explore</a>
            </div>
          </div>
    
          <div class="swiper-slide swiper-slide--three">
    
            <div>
              <!-- <h2>octopus</h2>
              <p>
                Octopuses inhabit various regions of the ocean, including coral reefs, pelagic waters, and the seabed; some live in the intertidal zone and others at abyssal depths. Most species grow quickly, mature early, and are short-lived.
              </p> -->
              <a href="https://en.wikipedia.org/wiki/Octopus" target="_blank">explore</a>
            </div>
          </div>
    
          <div class="swiper-slide swiper-slide--four">
    
            <div>
              <!-- <h2>Shark</h2>
              <p>
                Sharks are a group of elasmobranch fish characterized by a cartilaginous skeleton, five to seven gill slits on the sides of the head, and pectoral fins that are not fused to the head.
              </p> -->
              <a href="https://en.wikipedia.org/wiki/Shark" target="_blank">explore</a>
            </div>
          </div>
    
          <div class="swiper-slide swiper-slide--five">
    
            <div>
              <!-- <h2>Dolphin</h2>
              <p>
                Dolphins are widespread. Most species prefer the warm waters of the tropic zones, but some, such as the right whale dolphin, prefer colder climates. Dolphins feed largely on fish and squid, but a few, such as the orca, feed on large mammals such as seals.
              </p> -->
              <a href="https://en.wikipedia.org/wiki/Dolphin" target="_blank">explore</a>
            </div>
          </div>
  
          <div class="swiper-slide swiper-slide--six">
    
              <div>
                <!-- <h2>Dolphin</h2>
                <p>
                  Dolphins are widespread. Most species prefer the warm waters of the tropic zones, but some, such as the right whale dolphin, prefer colder climates. Dolphins feed largely on fish and squid, but a few, such as the orca, feed on large mammals such as seals.
                </p> -->
                <a href="https://en.wikipedia.org/wiki/Dolphin" target="_blank">explore</a>
              </div>
          </div>
  
          <div class="swiper-slide swiper-slide--seven">
    
              <div>
                <!-- <h2>Dolphin</h2>
                <p>
                  Dolphins are widespread. Most species prefer the warm waters of the tropic zones, but some, such as the right whale dolphin, prefer colder climates. Dolphins feed largely on fish and squid, but a few, such as the orca, feed on large mammals such as seals.
                </p> -->
                <a href="https://en.wikipedia.org/wiki/Dolphin" target="_blank">explore</a>
              </div>
          </div>
  
          <div class="swiper-slide swiper-slide--eight">
    
              <div>
                <!-- <h2>Dolphin</h2>
                <p>
                  Dolphins are widespread. Most species prefer the warm waters of the tropic zones, but some, such as the right whale dolphin, prefer colder climates. Dolphins feed largely on fish and squid, but a few, such as the orca, feed on large mammals such as seals.
                </p> -->
                <a href="https://en.wikipedia.org/wiki/Dolphin" target="_blank">explore</a>
              </div>
          </div>
  
          <div class="swiper-slide swiper-slide--nine">
    
              <div>
                <!-- <h2>Dolphin</h2>
                <p>
                  Dolphins are widespread. Most species prefer the warm waters of the tropic zones, but some, such as the right whale dolphin, prefer colder climates. Dolphins feed largely on fish and squid, but a few, such as the orca, feed on large mammals such as seals.
                </p> -->
                <a href="https://en.wikipedia.org/wiki/Dolphin" target="_blank">explore</a>
              </div>
          </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
      </div>
      <img src="https://cdn.pixabay.com/photo/2021/11/04/19/39/jellyfish-6769173_960_720.png" alt="" class="bg">
      <img src="https://cdn.pixabay.com/photo/2012/04/13/13/57/scallop-32506_960_720.png" alt="" class="bg2">
    </div>
  </div>
</main>